@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    color: #23272f;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 50px;
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
  background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
  background: linear-gradient(to bottom,
          rgba(13, 17, 23, 0) 0%,
          rgba(13, 17, 23, 0) 10%,
          #23272f 10%,
          #23272f 90%,
          rgba(13, 17, 23, 0) 90%,
          rgba(13, 17, 23, 0) 100%);
  transition: background-color 1s, color 0.3s;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  transition: color 0.3s;
}

/* In app/globals.css */

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}